node_modules
.next
.git
.gitignore
exports-test
screenshots
downloads
coverage
*.md
!README.md
.env*
npm-debug.log*
.DS_Store
tsconfig.tsbuildinfo
scripts
**/*.test.ts
vitest.config.ts
eslint.config.mjs
